[Unit]
Description=Realtek RTL8723BS bluetooth service
ConditionPathExists=/sys/devices/platform/80860F0A:00/OBDA8723:00
After=multi-user.target

[Service]
Type=forking
ExecStartPre=-/bin/sh -c "echo 30000 > /proc/sys/kernel/perf_event_max_sample_rate"
ExecStart=-/bin/sh -c "/usr/bin/rtk_hciattach -n -s 115200 /dev/$(ls /sys/devices/platform/80860F0A:00/tty/) rtk_h5 > /var/log/hciattach.log 2>&1 &"

[Install]
WantedBy=graphical.target
